.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrarSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.boton {
  width: 50%;
  border-radius: 0%;
}

.icono {
  cursor: pointer;
}

div.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
