 <div *ngIf="isLoading">
  <div *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize" class="lista">
    <i class="icono fa-solid fa-eye" (click)="open(auto)"></i>
    <div><label class="des">
        <b>{{auto.descripcioncorta}}</b>
    </label></div>
</div>   
 </div>
 

<ngb-pagination *ngIf="isLoading" class="center" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="autos.length"></ngb-pagination>

<!-- <p *ngIf="!isLoading"><ngb-progressbar [value]="500" type="primary" [animated]="true" height="40px" [striped]="true"></ngb-progressbar></p> -->


<div *ngIf="!isLoading" class="d-flex centrarSpinner">
    <div class="spinner-border text-primary" role="status"></div>
</div>
