<div>

    <div class="modal1 modal1 modal-header">
      <h4 class="modal-title">Estas seguro de eliminar este registro?</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
  
    <!-- <div class="modal-body">
  
     
    </div> -->
  
    <div class="center modal-footer">
      <button class="boton btn btn-success" (click)="activeModal.close(auto)">Confirmar</button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
    </div>
  
  </div>