<div>
  <div class="modal1 modal-header">
    <h4 class="modal-title">{{auto.marca}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Submarca: {{auto.submarca}}</p>
    
    <div *ngFor="let modelo of auto.modelos; let indice=index">
      <label *ngIf="indice==0">Modelos:&nbsp;</label>
      <label *ngIf="indice%9==0">
        {{auto.modelos[indice]}} {{auto.modelos[indice+1]}} {{auto.modelos[indice+2]}} {{auto.modelos[indice+3]}} {{auto.modelos[indice+4]}} 
        {{auto.modelos[indice+5]}} {{auto.modelos[indice+6]}} {{auto.modelos[indice+7]}} {{auto.modelos[indice+8]}} {{auto.modelos[indice+9]}}
      </label>
    </div>
    <p>Descripcion: {{auto.descripcion}}</p>
  </div>
  <div class="footerModal modal-footer">
    <!-- <p>{{fecha}}</p> -->
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
  </div>
</div>
